.cocktail-card {
  //display: flex;
  // justify-content: center;
  // align-items: center;
  width: 250px;
  height: 200px;
  //justify-content: space-around;
  background-size: cover;
  text-align: center;
  text-decoration: none;
  vertical-align: center;
}
